[Unit]
Description=cgi-proxy service

[Service]
EnvironmentFile=-/opt/cgi-proxy/cgi-proxy.env
ExecStart=/opt/cgi-proxy/cgi-proxy
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
